.cover {
  background: rgb(126, 53, 53);
  height: 100vh;
  position: relative;
  bottom: 90px;
  display: flex;
  align-items: end;
}

.cover__content {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
