.header {
  padding: 0 30px;
  height: 110px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #efebeb;
  padding: 10px 0;
}
.header__logo {
  width: 180px;
}

.header__image {
  width: 100%;
}

.header__form {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header__form-phone {
  transition: all 0.4s;

  &:hover {
    color: rgb(112, 109, 109);
  }
}

.header__button {
  background-color: #c02222;
  border-radius: 25px;
  border: none;
  padding: 12px 23px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.6s;

  &:hover {
    background-color: #690d0d;
  }
}

.header__menu-list {
  display: flex;
  gap: 90px;
  padding: 10px 0;
}

.header__menu-list-item {
  text-transform: uppercase;
  font-size: 14px;
}

.header__menu-list-item {
  text-decoration: none;
  background-image: linear-gradient(#c02222, #c02222);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 1px;
  transition: background-size 0.3s;

  &:hover {
    background-size: 100% 1px;
  }
}
